Source: uc8200-system
Section: admin
Priority: required
Maintainer: Fero JD Zhou <FeroJD.Zhou@moxa.com>,
            Wes Huang <Wes.Huang@moxa.com>
Uploaders: Remus Wu <remusty.wu@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.moxa.com/

Package: uc8200-base-system
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         uc8200-kernel (>= 4.4.176),
         uc8200-modules (>= 4.4.176),
         moxa-version (>= 1.0.0),
         moxa-led-control (>= 1.1.0),
         moxa-push-button (>= 1.1.2),
         moxa-uart-control (>= 1.1.3),
         moxa-module-control (>= 1.3.1),
         moxa-firmware-tools (>= 1.1.1),
         moxa-dio-control (>= 1.2.0),
         moxa-cellular-utils (>= 2.0.4),
         moxa-cellular-signald (>= 2.0.4),
         moxa-ublox-config-utils (>= 1.0.3),
         moxa-wifi-utils (>= 1.7.0),
         moxa-wifi-signald (>= 1.7.0),
         can-utils,
         moxa-nport-real-tty-utils,
         jjplus-qca6174a-driver-4.4.0-rt-moxa-imx7d (>= 3.0.00017.1+1.0.0),
         libmoxa-dio-control1 (>= 1.2.0+deb9),
         libmoxa-dio-control-dev (>= 1.2.0+deb9),
         libmoxa-gpio-control1 (>= 1.0.2+deb9),
         libmoxa-gpio-control-dev (>= 1.0.2+deb9),
         libmoxa-led-control1 (>= 1.1.1+deb9),
         libmoxa-led-control-dev (>= 1.1.1+deb9),
         libmoxa-push-button1 (>= 1.1.3+deb9),
         libmoxa-push-button-dev (>= 1.1.3+deb9),
         libmoxa-uart-control1 (>= 1.1.4+deb9),
         libmoxa-uart-control-dev (>= 1.1.4+deb9)
Description: Base system for UC-8200
 It contains the necessary tools for setting up UC-8200
