[Unit]
Description=Moxa UC8200 series initial setting
Before=rc.local.service moxa-push-button.service moxa-module-control.service

[Service]
Type=oneshot
ExecStart=/sbin/uc8200_platform_init start
ExecStop=/sbin/uc8200_platform_init stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
